.nav {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: center;
  height: 70px;
}

.logo {
  height: 5vh;
  width: 5vw;
  flex: 1;
}
.navbar_right {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex: 1;
}
.navbar_left {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  height: 100%;
}
